#show-img {
    width: 400px;
    height: 400px;
    border-radius: 20px;
}

.show-image {
    z-index: 1;
    border-radius: 20px;
}

.small-img {
    width: 380px;
    height: 70px;
    margin-top: 10px;
    position: relative;
    left: 25px;
}

.small-img .icon-left,
.small-img .icon-right {
    width: 12px;
    height: 24px;
    cursor: pointer;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
}

.small-img .icon-left {
    transform: rotate(180deg)
}

.small-img .icon-right {
    right: 0;
}

.small-img .icon-left:hover,
.small-img .icon-right:hover {
    opacity: .5;
}

.small-container {
    width: 310px;
    height: 70px;
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.small-container div {
    width: 800%;
    position: relative;
}

.small-container .show-small-img {
    width: 70px;
    height: 70px;
    margin-right: 6px;
    cursor: pointer;
    float: left;
    border-radius: 7px;
}

.small-container .show-small-img:last-of-type {
    margin-right: 0;
}

@media (max-width:1024px) {
    .small-img {
        margin-left: -8px;
        left: 0px;
    }
}

@media (max-width:768px) {
    .small-img {
        left: 134px;
    }
}

@media (max-width:420px) {
    .small-container {
        width: 263px;
    }
    .small-img {
        left: 0px;
        width: 330px;
        margin-left: -5px;
    }
    .small-container .show-small-img {
        width: 60px;
        height: 60px;
    }
}